body {
  font-family: "PingFang TC", sans-serif;
  background: #f5f5f5;
  color: #3f5d45;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 600;
}

.container {
  width: 952px;
  background: #fff;
  display: flex;
  margin: 100px auto;
  padding: 4px;
  gap: 24px;

  .left-nav {
    width: 300px;
    text-align: center;

    .nav-title {
      color: #fff;
      background: #3f5d45;
      padding: 16px;
    }

    ul {
      list-style: none;

      li {
        padding: 16px;
        border: 1px solid #eaf0ed;
        cursor: pointer;
        transition: background-color 0.3s;

        &:active,
        &:focus {
          background-color: #eaf0ed;
        }
      }
    }
  }

  .right-content {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .product-item {
      text-align: center;
      max-height: 457px;

      img {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        vertical-align: bottom;
      }

      .product-info {
        display: flex;

        .product-name {
          width: calc(100% - 114px);
          border-width: 1px;
        }

        .product-price {
          width: 114px;
          border-width: 1px 1px 1px 0px;
        }

        .product-name,
        .product-price {
          border-style: solid;
          border-color: #eaf0ed;
          padding-top: 16px;
          padding-bottom: 16px;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .add-cart {
        background: #eaf0ed;
        font-size: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}
