body {
  font-family: 'PingFang TC',sans-serif;
  padding: 2rem;
  background: #F5F5F5;
  line-height: 1.4;
  font-weight: 600;
}

.container {
  max-width: 1278px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EAF0ED;
  padding: 16px 48px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
}

.header menu{
  font-size: 20px;
  color: #3F5D45;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 608px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content h3 {
  font-size: 20px;
  padding-bottom: 16px;
}

.content p {
  font-size: 16px;
  font-weight: 400;
}

.content img {
  padding: 20px 4.5px;
}

.footer {
  background: #3F5D45;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer menu {
  font-size: 16px;
  color: #fff;
}



